**/__pycache__/

# ignore files in degrees directory
degrees/large/
degrees/small/
/degrees/degrees-original.py

# ignore files in crossword directory
generate - Copy.py

# ignore files in shopping directory
shopping - Copy.py

# ignore files in nim directory
nim - Copy.py

# ignore files in traffic directory
gtsrb/
traffic - Copy.py

# ignore files in parser directory
parser - Copy.py
sentences.txt

